[submodule "data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/auto-pairs"]
	path = data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/coc.nvim"]
	path = data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/indentLine"]
	path = data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/LeaderF"]
	path = data/dotfiles/.config/nvim/plugged/data/dotfiles/.config/nvim/plugged/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "data/dotfiles/.config/nvim/plugged/neoranger"]
	path = data/dotfiles/.config/nvim/plugged/neoranger
	url = https://github.com/Lokaltog/neoranger.git
[submodule "data/dotfiles/.config/nvim/plugged/vim-tmux-clipboard"]
	path = data/dotfiles/.config/nvim/plugged/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard.git
[submodule "data/dotfiles/.oh-my-zsh/plugins/zsh-autosuggestions"]
	path = data/dotfiles/.oh-my-zsh/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "data/dotfiles/.oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = data/dotfiles/.oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "data/dotfiles/.oh-my-zsh/plugins/tmux-yank"]
	path = data/dotfiles/.oh-my-zsh/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
